apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../base

images:
  - name: gerlaw-mcp-server
    newName: ghcr.io/troeger/deutsche-rechtsprechung-mcp/gerlaw-mcp-server
    newTag: "latest"
